---
layout: default
---
<article>
{% for tag in page.tags %}
<div class="spacer"></div>
<header class="post-header" id="{{ tag }}">
    <h1 class="post-title"><a href="#{{ tag }}" class="tag"><span class="fa fa-tag"></span>{{ tag }}</a></h1>
</header>

<section class="post-content">
    {% if site.tags[tag] %}
        {% for post in site.tags[tag] %}
            {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% if forloop.first %}
                <h3>{{ post_year }}</h3><div class="list-group">
            {% endif %}
			
            {% if forloop.first == false %}
                {% assign previous_index = forloop.index0 | minus: 1 %}
                {% capture previous_post_year %}{{ site.tags[tag][previous_index].date | date: '%Y' }}{% endcapture %}
                {% if post_year != previous_post_year %}
                    </div><h3>{{ post_year }}</h3><div class="list-group">
                {% endif %}
            {% endif %}
			
            <a href="{{ post.url }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ post.title }}</h4>
            </a>

            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</section>
{% endfor %}
</article>
